body {
    background-color: #b778ff;
}

nav {
    background-color: #380f67;
}

.brand-logo {
    font-family: 'Monoton', cursive;
}

h1, h2, h5, h6 {
    font-family: 'Aclonica', sans-serif;
}

p {
    font-family: 'Acme', sans-serif;
}

.description {
    font-size: 1.5rem;
}

main {
    min-height: 50vh;
}

.back {
    background-image: url(../image/background.jpg);
}

form {
    margin-top: 50px;
}

.meals {
    padding-top: 50px;
}

span.card-title {
    background-color: #d68d057a;
    width: 100%;
    padding: 10px !important;
}

.card-content {
    height: 100px;
}

/* Caption styles */

.caption {
    background-color: rgba(0, 0, 0, 0.1);
}

/* parallax styles */
.grey-text.text-darken-3 {
    color: white !important;
    text-align: center;
}

.white {
    background-color: #380f67 !important;
    color: white;
    text-align: center;
}

/* end of style */

/* carousel style */

.carousel {
    height: 250px;
}

/* end of styles */

.input-field label {
    color: black;
}

.input-field input[type=text],
.input-field input[type=password],
.input-field input[type=email]{
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
}

.switch label {
    color: black;
}

textarea.materialize-textarea {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
}

label.active {
    color: yellow !important;
}

.sidenav {
    background-color: #b778ff;
    color: white;
}

.page-footer {
    background-color: #380f67;
}

.title-image {
    text-align: center;
}

.flashes {
    text-align: center;
    font-size: 2rem;
}

/* MEDIA STYLE */

@media (max-width: 768px) {
    nav .brand-logo {
        font-size: 1rem;
    }
}