{% extends 'base.html'%} 
{% block titleimage %}
<div class="slider">
    <ul class="slides">
        <li>
            <img src="{{ url_for('static', filename='image/breakfast/1.jpg') }}">
            <div class="caption right-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="{{ url_for('static', filename='image/breakfast/2.jpg') }}"> 
            <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="{{ url_for('static', filename='image/breakfast/3.jpg') }}"> 
            <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="{{ url_for('static', filename='image/breakfast/4.jpg') }}">
            <div class="caption left-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>
{% endblock %}
{% block content %}
<h1>alle</h1>
{% endblock %}